# GitHub Linguist Overrides & Git Attributes
*.ts linguist-documentation=false
*.py linguist-documentation=false
*.kt linguist-documentation=false
*.css linguist-documentation=false
*.md text eol=lf
*.json text eol=lf
